@import url(https://fonts.googleapis.com/css?family=Puritan:regular,italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Varela+Round:regular);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Share+Tech+Mono:regular);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:regular,italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=KoHo:200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200italic,300,300italic,regular,italic,600,600italic,700,700italic,900,900italic);

$primary_color : #37F0E2;
$black_color : #404040;
$dark_primary : #2AC4B8;
$behind_color : #757575;
$error : #FF4848;

$puritan_font : 'puritan' , sans-serif;
$nav_font : 'Varela Round' , sans-serif;
$poppins_font : 'Poppins' , sans-serif;
$montserrat_font : 'Montserrat' , sans-serif;
$mono_font : 'Share Tech Mono' , sans-serif;
$ubuntu_mono_font : 'Ubuntu Mono' , sans-serif;
$koho_font : 'KoHo', sans-serif;
$source_sans_font : 'Source Sans Pro', sans-serif;
